<%= form_for @team do |f| %>
  <% if @team.errors.any? %>
    <%= render partial: "shared/error_explanation", locals: { errors: @team.errors, name: "team" } %>
  <% end%>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, class: "form-control", data: { infer_timezone: @team.new_record? } %>
  </div>

  <%= f.submit class: "btn btn-outline-primary" %>
  <%= link_to "Cancel", back_path, role: "button", class: "btn btn-outline-secondary" %>
<% end %>
