<!DOCTYPE html>
<html>
  <head>
    <title>Standfast</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/nav" %>
    <div class="flex-container">
      <div class="flex-fixed-small">
        <%= render "shared/side" %>
      </div>
      <div class="flex-1">
        <main class="container-fluid">
          <%= render "shared/flash" if alert || notice %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
